In [38]:
#4.1
import numpy as np
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

import pandas as pd
ser_list = pd.Series(mylist)
ser_arr = pd.Series(myarr)
ser_dict = pd.Series(mydict)

print("--- Bài 4.1 ---")
print("Series từ list:\n", ser_list.head(3))
print("Series từ numpy array:\n", ser_arr.head(3))
print("Series từ dictionary:\n", ser_dict.head(3))

--- Bài 4.1 ---
Series từ list:
 0    a
1    b
2    c
dtype: object
Series từ numpy array:
 0    0
1    1
2    2
dtype: int64
Series từ dictionary:
 a    0
b    1
c    2
dtype: int64

In [39]:
#4.2
ser = pd.Series(mydict)
df = ser.reset_index()
df.columns = ['Character', 'Value'] 

print("\n--- Bài 4.2 ---")
print("DataFrame sau chuyển đổi:\n", df.head())

--- Bài 4.2 ---
DataFrame sau chuyển đổi:
   Character  Value
0         a      0
1         b      1
2         c      2
3         d      3
4         e      4

In [40]:
#4.3
ser1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df_combined = pd.DataFrame({'col1': ser1, 'col2': ser2})

print("\n--- Bài 4.3 ---")
print("DataFrame kết hợp:\n", df_combined.head())

--- Bài 4.3 ---
DataFrame kết hợp:
   col1  col2
0    a     0
1    b     1
2    c     2
3    d     3
4    e     4

In [41]:
# 4.4
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

print("\n--- Bài 4.4 ---")
print("Các mục trong ser1 có mặt trong ser2:\n", ser1[ser1.isin(ser2)])
ser_union = pd.Series(np.union1d(ser1, ser2))
ser_intersect = pd.Series(np.intersect1d(ser1, ser2))
ser_unique = ser_union[~ser_union.isin(ser_intersect)]
print("Các mục độc nhất trong ser1 và ser2:\n", ser_unique)

--- Bài 4.4 ---
Các mục trong ser1 có mặt trong ser2:
 3    4
4    5
dtype: int64
Các mục độc nhất trong ser1 và ser2:
 0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [42]:
# 4.5
ser = pd.Series(np.random.normal(10, 5, 25))
print("Min:", ser.min())
print("25th Percentile (Q1):", ser.quantile(0.25))
print("Median (50th Percentile):", ser.median())
print("75th Percentile (Q3):", ser.quantile(0.75))
print("Max:", ser.max())

Min: -0.3735393393659958
25th Percentile (Q1): 6.078666987848905
Median (50th Percentile): 9.508017654679906
75th Percentile (Q3): 14.590151882350916
Max: 25.303908681646295

In [43]:
# 4.6
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print("Giải thích:\n ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))")
print("> Đoạn code tạo một Series **ser** với 30 phần tử ngẫu nhiên được chọn từ list \n> **'abcdefgh'** (tức là 8 ký tự đầu tiên).")

# 2. Tần suất xuất hiện của mỗi giá trị duy nhất
print("Tần suất xuất hiện:\n", ser.value_counts())

Giải thích:
 ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
> Đoạn code tạo một Series **ser** với 30 phần tử ngẫu nhiên được chọn từ list
> **'abcdefgh'** (tức là 8 ký tự đầu tiên).
Tần suất xuất hiện:
 a    6
g    6
f    5
c    5
h    3
b    3
d    1
e    1
Name: count, dtype: int64

In [44]:
# 4.7
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top_2_freq = ser.value_counts().nlargest(2).index.tolist()
ser_replaced = ser.replace(top_2_freq, 'Other')

print("\n--- Bài 4.7 ---")
print("Series ban đầu:\n", ser)
print("2 phần tử có tần suất cao nhất:", top_2_freq)
print("Series sau khi thay thế:\n", ser_replaced)

--- Bài 4.7 ---
Series ban đầu:
 0     1
1     3
2     2
3     4
4     1
5     1
6     1
7     2
8     3
9     2
10    4
11    4
dtype: int32
2 phần tử có tần suất cao nhất: [1, 2]
Series sau khi thay thế:
 0     Other
1         3
2     Other
3         4
4     Other
5     Other
6     Other
7     Other
8         3
9     Other
10        4
11        4
dtype: object

In [45]:
# 4.8
ser = pd.Series(np.random.random(20))
ser_deciles = pd.qcut(ser, q=10, labels=False)
df_decile = pd.DataFrame({'Value': ser, 'Decile': ser_deciles})

print("\n--- Bài 4.8 ---")
print("Series ban đầu:\n", ser.head())
print("Series sau khi chia decile (phần tương ứng):\n", ser_deciles.head())
print("Kiểm tra phân đoạn:\n", df_decile.head())

--- Bài 4.8 ---
Series ban đầu:
 0    0.825540
1    0.311217
2    0.684897
3    0.535264
4    0.300917
dtype: float64
Series sau khi chia decile (phần tương ứng):
 0    7
1    2
2    6
3    3
4    1
dtype: int64
Kiểm tra phân đoạn:
       Value  Decile
0  0.825540       7
1  0.311217       2
2  0.684897       6
3  0.535264       3
4  0.300917       1

In [46]:
#4.9
ser = pd.Series(np.random.randint(1, 10, 35))

print("\n--- Bài 4.9 ---")
print("Giải thích:\n ser = pd.Series(np.random.randint(1, 10, 35))")
print("> Tạo một Series **ser** với **35** số nguyên ngẫu nhiên nằm trong khoảng **[1, 9]** (bao gồm 1, không bao gồm 10).")
df_reshaped = pd.DataFrame(ser.values.reshape(7, 5))

print("DataFrame 7 hàng x 5 cột:\n", df_reshaped)

--- Bài 4.9 ---
Giải thích:
 ser = pd.Series(np.random.randint(1, 10, 35))
> Tạo một Series **ser** với **35** số nguyên ngẫu nhiên nằm trong khoảng **[1, 9]** (bao gồm 1, không bao gồm 10).
DataFrame 7 hàng x 5 cột:
    0  1  2  3  4
0  9  7  8  5  1
1  8  9  4  6  7
2  8  6  6  3  8
3  3  9  2  3  5
4  1  3  2  6  6
5  2  8  1  7  9
6  1  2  8  5  4

In [47]:
# 4.10
ser = pd.Series(np.random.randint(1, 10, 7))
position = np.argwhere(ser.values % 3 == 0)

print("\n--- Bài 4.10 ---")
print("Series ban đầu:\n", ser)
print("Vị trí các số là bội số của 3:\n", position.flatten())

--- Bài 4.10 ---
Series ban đầu:
 0    7
1    2
2    4
3    5
4    4
5    4
6    1
dtype: int32
Vị trí các số là bội số của 3:
 []

In [48]:
# 4.11
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
result = ser.iloc[pos]

print("\n--- Bài 4.11 ---")
print("Series ban đầu:\n", ser.head())
print("Dữ liệu tại các vị trí pos:\n", result)

--- Bài 4.11 ---
Series ban đầu:
 0    a
1    b
2    c
3    d
4    e
dtype: object
Dữ liệu tại các vị trí pos:
 0     a
4     e
8     i
14    o
20    u
dtype: object

In [49]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abede'))
pos = [0, 1, 3] 
ser1_extracted = ser1.iloc[pos]
ser2_extracted = ser2.iloc[pos]
df_vertical = pd.concat([ser1_extracted, ser2_extracted], axis=1)
df_vertical.columns = ['ser1_val', 'ser2_val']

print("\n--- Bài 4.12 ---")
print("Dữ liệu trích xuất ser1:\n", ser1_extracted)
print("Dữ liệu trích xuất ser2:\n", ser2_extracted)
print("DataFrame xếp chồng (cột):\n", df_vertical)

--- Bài 4.12 ---
Dữ liệu trích xuất ser1:
 0    0
1    1
3    3
dtype: int64
Dữ liệu trích xuất ser2:
 0    a
1    b
3    d
dtype: object
DataFrame xếp chồng (cột):
    ser1_val ser2_val
0         0        a
1         1        b
3         3        d

In [50]:
ser1 = pd.Series([1, 10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

print("\n--- Bài 4.13 ---")
print("Series 1:\n", ser1.tolist())
print("Series 2:\n", ser2.tolist())
print("Vị trí (index) của ser2 trong ser1:\n", positions)

--- Bài 4.13 ---
Series 1:
 [1, 10, 9, 6, 5, 3, 1, 12, 8, 13]
Series 2:
 [1, 3, 10, 13]
Vị trí (index) của ser2 trong ser1:
 [0 1 5 6 9]

In [51]:

truth = pd.Series(range(10)) + np.random.rand(10)
pred = pd.Series(range(10)) + np.random.rand(10)
mse = np.mean((truth - pred) ** 2)

print("\n--- Bài 4.14 ---")
print("Truth:\n", truth)
print("Pred:\n", pred)
print("Sai số bình phương trung bình (MSE):", mse)

--- Bài 4.14 ---
Truth:
 0    0.810081
1    1.375753
2    2.314480
3    3.410746
4    4.813767
5    5.184503
6    6.998381
7    7.665850
8    8.288569
9    9.760556
dtype: float64
Pred:
 0    0.418632
1    1.039433
2    2.141529
3    3.637792
4    4.055829
5    5.818048
6    6.951086
7    7.995145
8    8.064438
9    9.803865
dtype: float64
Sai số bình phương trung bình (MSE): 0.1486436867427901

In [52]:
ser = pd.Series(['lhow', 'to', 'kick', 'ass?'])
ser_cap = ser.str.capitalize()

print("\n--- Bài 4.15 ---")
print("Series ban đầu:\n", ser)
print("Series sau khi chuyển đổi:\n", ser_cap)

--- Bài 4.15 ---
Series ban đầu:
 0    lhow
1      to
2    kick
3    ass?
dtype: object
Series sau khi chuyển đổi:
 0    Lhow
1      To
2    Kick
3    Ass?
dtype: object

In [53]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser_diff = ser.diff().fillna(ser.iloc[0])

print("\n--- Bài 4.16 ---")
print("Series ban đầu:\n", ser.tolist())
print("Hiệu số giữa các phần tử liên tiếp:\n", ser_diff.tolist())

--- Bài 4.16 ---
Series ban đầu:
 [1, 3, 6, 10, 15, 21, 27, 35]
Hiệu số giữa các phần tử liên tiếp:
 [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

In [62]:
print("\n--- Bài 4.17 ---")
ser = pd.Series([
    '01 Jan 2010',
    '02-02-2011',
    '20120303',
    '2013/04/04',
    '2014-05-05',
    '2015-06-06T12:20'
])

ts = pd.to_datetime(ser, format='mixed')

print(ts)

--- Bài 4.17 ---
0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [55]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com',
                    'matt@t.co', 'narendra@modi.com'])
pattern = r'([A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4})'
extracted_emails = emails.str.extractall(pattern)

print("\n--- Bài 4.18 ---")
print("Series Email:\n", emails)
print("Email hợp lệ được trích xuất:\n", extracted_emails[0])

--- Bài 4.18 ---
Series Email:
 0    buying books at amazom.com
1             rameses@egypt.com
2                     matt@t.co
3             narendra@modi.com
dtype: object
Email hợp lệ được trích xuất:
    match
1  0        rameses@egypt.com
2  0                matt@t.co
3  0        narendra@modi.com
Name: 0, dtype: object

In [56]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
df_weighted = pd.DataFrame({'fruit': fruit, 'weights': weights})
weighted_sum = df_weighted.groupby('fruit')['weights'].sum()

print("\n--- Bài 4.19 ---")
print("Series Fruit:\n", fruit)
print("Series Weights:\n", weights)
print("Tổng trọng số theo từng loại trái cây:\n", weighted_sum)

--- Bài 4.19 ---
Series Fruit:
 0    carrot
1    carrot
2    carrot
3    carrot
4     apple
5     apple
6     apple
7    banana
8    carrot
9    banana
dtype: object
Series Weights:
 0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64
Tổng trọng số theo từng loại trái cây:
 fruit
apple     18.0
banana    18.0
carrot    19.0
Name: weights, dtype: float64

In [57]:
try:
    euro12 = pd.read_csv('euro12.csv')
except FileNotFoundError:
    data = {
        'Team': ['Spain', 'Germany', 'Portugal', 'Italy', 'England'],
        'Goals': [12, 10, 6, 6, 5],
        'Yellow Cards': [11, 15, 12, 16, 5],
        'Red Cards': [0, 0, 0, 1, 0],
        'Shooting Accuracy': ['43%', '40%', '32%', '33%', '35%']
    }
    euro12 = pd.DataFrame(data)

print("\n--- Bài 4.20 (Euro2012) ---")
print("1. Goals:\n", euro12['Goals'])
print("2. Số đội tham gia:", euro12.shape[0])
print("3. Thông tin DataFrame:")
euro12.info()

discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
print("\n4. DataFrame Discipline:\n", discipline)

discipline_sorted = discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)
print("\n5. Discipline sắp xếp:\n", discipline_sorted)

avg_yellow_cards = euro12['Yellow Cards'].mean()
print("\n6a. Trung bình Yellow Cards:", avg_yellow_cards)

teams_gt_6_goals = euro12[euro12['Goals'] > 6]
print("\n6b. Đội ghi > 6 bàn:\n", teams_gt_6_goals)

teams_start_G = euro12[euro12['Team'].str.startswith('G')]
print("\n7. Đội bắt đầu bằng 'G':\n", teams_start_G)

print("\n8. 7 cột đầu:\n", euro12.iloc[:, :7].head())

print("\n9. Tất cả trừ 3 cột cuối:\n", euro12.iloc[:, :-3].head())

selected_cols = euro12[['Team', 'Goals', 'Shooting Accuracy', 'Yellow Cards', 'Red Cards']]
print("\n10. Các cột được chọn:\n", selected_cols.head())


teams_list = ['England', 'Italy', 'Russia']
euro_subset = euro12[euro12['Team'].isin(teams_list)]

result_11 = euro_subset[['Team', 'Shooting Accuracy']]
print("\n11. Subset:\n", result_11)

--- Bài 4.20 (Euro2012) ---
1. Goals:
 0    12
1    10
2     6
3     6
4     5
Name: Goals, dtype: int64
2. Số đội tham gia: 5
3. Thông tin DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               5 non-null      object
 1   Goals              5 non-null      int64
 2   Yellow Cards       5 non-null      int64
 3   Red Cards          5 non-null      int64
 4   Shooting Accuracy  5 non-null      object
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes

4. DataFrame Discipline:
        Team  Yellow Cards  Red Cards
0     Spain            11          0
1   Germany            15          0
2  Portugal            12          0
3     Italy            16          1
4   England             5          0

5. Discipline sắp xếp:
        Team  Yellow Cards  Red Cards
3     Italy            16          1
1   Germany            15          0
2  Portugal            12          0
0     Spain            11          0
4   England             5          0

6a. Trung bình Yellow Cards: 11.8

6b. Đội ghi > 6 bàn:
       Team  Goals  Yellow Cards  Red Cards Shooting Accuracy
0    Spain     12            11          0               43%
1  Germany     10            15          0               40%

7. Đội bắt đầu bằng 'G':
       Team  Goals  Yellow Cards  Red Cards Shooting Accuracy
1  Germany     10            15          0               40%

8. 7 cột đầu:
        Team  Goals  Yellow Cards  Red Cards Shooting Accuracy
0     Spain     12            11          0               43%
1   Germany     10            15          0               40%
2  Portugal      6            12          0               32%
3     Italy      6            16          1               33%
4   England      5             5          0               35%

9. Tất cả trừ 3 cột cuối:
        Team  Goals
0     Spain     12
1   Germany     10
2  Portugal      6
3     Italy      6
4   England      5

10. Các cột được chọn:
        Team  Goals Shooting Accuracy  Yellow Cards  Red Cards
0     Spain     12               43%            11          0
1   Germany     10               40%            15          0
2  Portugal      6               32%            12          0
3     Italy      6               33%            16          1
4   England      5               35%             5          0

11. Subset:
       Team Shooting Accuracy
3    Italy               33%
4  England               35%

In [58]:
try:
    drinks = pd.read_csv('drinks.csv', index_col=0)
except FileNotFoundError:
    
    data = {
        'beer_servings': [0, 89, 219, 107, 167],
        'spirit_servings': [0, 132, 110, 7, 263],
        'wine_servings': [0, 49, 0, 86, 171],
        'total_litres_of_pure_alcohol': [0.0, 4.9, 5.7, 5.0, 8.4],
        'continent': ['AS', 'EU', 'AS', 'EU', 'AF']
    }
    drinks = pd.DataFrame(data, index=['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola'])

print("\n--- Bài 4.21 (Drinks) ---")
print("1. Kiểu dữ liệu và cột:")
drinks.info()
print("\nKích thước (shape):", drinks.shape)
print("Các cột:", drinks.columns.tolist())

print("\n2. 5 dòng đầu:\n", drinks.head())
print("\n5 dòng cuối:\n", drinks.tail())

avg_beer_by_continent = drinks.groupby('continent')['beer_servings'].mean()
print("\n3. Trung bình bia tiêu thụ theo châu lục:\n", avg_beer_by_continent)

print("\n4. Thống kê rượu vang:\n", drinks['wine_servings'].describe())

avg_alcohol_by_continent = drinks.groupby('continent')[['beer_servings', 'wine_servings']].mean()
print("\n5. Trung bình bia và rượu theo châu lục:\n", avg_alcohol_by_continent)

median_max_min_spirit = drinks.groupby('continent')['spirit_servings'].agg(['median', 'max', 'min'])
print("\n6. Trung vị/Min/Max rượu mạnh theo châu lục:\n", median_max_min_spirit)

drinks_sorted = drinks.sort_values(by='beer_servings')
print("\n7. Sắp xếp dữ liệu (tăng dần theo bia):\n", drinks_sorted[['beer_servings']].head())

most_beer = drinks.sort_values(by='beer_servings', ascending=False).head(5)
print("\n5 quốc gia tiêu thụ bia nhiều nhất:\n", most_beer['beer_servings'])

least_beer = drinks.sort_values(by='beer_servings', ascending=True).head(5)
print("\n5 quốc gia tiêu thụ bia ít nhất:\n", least_beer['beer_servings'])

--- Bài 4.21 (Drinks) ---
1. Kiểu dữ liệu và cột:
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Afghanistan to Angola
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   beer_servings                 5 non-null      int64
 1   spirit_servings               5 non-null      int64
 2   wine_servings                 5 non-null      int64
 3   total_litres_of_pure_alcohol  5 non-null      float64
 4   continent                     5 non-null      object
dtypes: float64(1), int64(3), object(1)
memory usage: 240.0+ bytes

Kích thước (shape): (5, 5)
Các cột: ['beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol', 'continent']

2. 5 dòng đầu:
              beer_servings  spirit_servings  wine_servings  \
Afghanistan              0                0              0
Albania                 89              132             49
Algeria                219              110              0
Andorra                107                7             86
Angola                 167              263            171

             total_litres_of_pure_alcohol continent
Afghanistan                           0.0        AS
Albania                               4.9        EU
Algeria                               5.7        AS
Andorra                               5.0        EU
Angola                                8.4        AF

5 dòng cuối:
              beer_servings  spirit_servings  wine_servings  \
Afghanistan              0                0              0
Albania                 89              132             49
Algeria                219              110              0
Andorra                107                7             86
Angola                 167              263            171

             total_litres_of_pure_alcohol continent
Afghanistan                           0.0        AS
Albania                               4.9        EU
Algeria                               5.7        AS
Andorra                               5.0        EU
Angola                                8.4        AF

3. Trung bình bia tiêu thụ theo châu lục:
 continent
AF    167.0
AS    109.5
EU     98.0
Name: beer_servings, dtype: float64

4. Thống kê rượu vang:
 count      5.000000
mean      61.200000
std       71.257982
min        0.000000
25%        0.000000
50%       49.000000
75%       86.000000
max      171.000000
Name: wine_servings, dtype: float64

5. Trung bình bia và rượu theo châu lục:
            beer_servings  wine_servings
continent
AF                 167.0          171.0
AS                 109.5            0.0
EU                  98.0           67.5

6. Trung vị/Min/Max rượu mạnh theo châu lục:
            median  max  min
continent
AF          263.0  263  263
AS           55.0  110    0
EU           69.5  132    7

7. Sắp xếp dữ liệu (tăng dần theo bia):
              beer_servings
Afghanistan              0
Albania                 89
Andorra                107
Angola                 167
Algeria                219

5 quốc gia tiêu thụ bia nhiều nhất:
 Algeria        219
Angola         167
Andorra        107
Albania         89
Afghanistan      0
Name: beer_servings, dtype: int64

5 quốc gia tiêu thụ bia ít nhất:
 Afghanistan      0
Albania         89
Andorra        107
Angola         167
Algeria        219
Name: beer_servings, dtype: int64

In [ ]:
stocks1_data = {
    'date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02', '2023-01-03'],
    'symbol': ['AAPL', 'GOOG', 'AAPL', 'GOOG', 'AAPL'],
    'open': [170.0, 95.0, 172.0, 96.0, 175.0],
    'high': [172.5, np.nan, 174.0, 98.0, 176.0],
    'low': [169.0, 94.0, 171.0, np.nan, 174.5],
    'close': [172.0, 96.0, 173.5, 97.5, 175.5],
    'volume': [100000, 50000, 120000, 60000, 110000]
}
stocks1 = pd.DataFrame(stocks1_data)

stocks2_data = {
    'date': ['2023-01-03', '2023-01-04', '2023-01-04'],
    'symbol': ['GOOG', 'AAPL', 'GOOG'],
    'open': [97.0, 176.0, 98.0],
    'high': [98.5, 177.0, 99.0],
    'low': [96.5, 175.0, 97.0],
    'close': [98.0, 176.5, 98.5],
    'volume': [55000, 130000, 65000]
}
stocks2 = pd.DataFrame(stocks2_data)

companies_data = {
    'symbol': ['AAPL', 'GOOG', 'MSFT'],
    'name': ['Apple Inc.', 'Alphabet Inc.', 'Microsoft Corp.'],
    'employees': [164000, 186770, 221000],
    'headquarters_city': ['Cupertino', 'Mountain View', 'Redmond'],
    'headquarters_state': ['CA', 'CA', 'WA']
}
companies = pd.DataFrame(companies_data)

print("\n--- Bài 4.22 (Stocks & Companies - Dữ liệu Mẫu) ---")

print("\n1a. stocks1.csv (5 dòng đầu):\n", stocks1.head())
print("1b. stocks2.csv (5 dòng đầu):\n", stocks2.head())
print("1c. companies.csv (5 dòng đầu):\n", companies.head())

print("\n2. Xử lý Null trong stocks1:")
print("Tổng số Null trước khi xử lý:\n", stocks1.isnull().sum())

stocks1['high'] = stocks1.groupby('symbol')['high'].transform(lambda x: x.fillna(x.max()))
stocks1['low'] = stocks1.groupby('symbol')['low'].transform(lambda x: x.fillna(x.min()))

print("\nTổng số Null sau khi xử lý:\n", stocks1.isnull().sum())
print("stocks1 sau xử lý Null (high/low):\n", stocks1)


stocks_merged = pd.concat([stocks1, stocks2], ignore_index=True)
print("\n3. stocks_merged (15 dòng cuối):\n", stocks_merged.tail(15))

stocks_companies = pd.merge(stocks_merged, companies, on='symbol', how='left')
print("\n4. stocks_companies (5 dòng đầu):\n", stocks_companies.head())

avg_price_volume = stocks_companies.groupby('symbol')[['open', 'high', 'low', 'close', 'volume']].mean()
print("\n5. Trung bình giá/volume theo công ty:\n", avg_price_volume)

close_stats = stocks_companies.groupby('symbol')['close'].agg(['mean', 'max', 'min'])
print("\n6. Thống kê giá đóng cửa theo công ty:\n", close_stats)

stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])
print("\n7. stocks_companies sau parsed_time (5 dòng đầu):\n", stocks_companies[['date', 'parsed_time']].head())

stocks_companies['result'] = np.where(stocks_companies['close'] > stocks_companies['open'], 'up', 'down')
print("\n8. Thêm cột 'result' (5 dòng đầu):\n", stocks_companies[['open', 'close', 'result']].head())

--- Bài 4.22 (Stocks & Companies - Dữ liệu Mẫu) ---

1a. stocks1.csv (5 dòng đầu):
          date symbol   open   high    low  close  volume
0  2023-01-01   AAPL  170.0  172.5  169.0  172.0  100000
1  2023-01-01   GOOG   95.0    NaN   94.0   96.0   50000
2  2023-01-02   AAPL  172.0  174.0  171.0  173.5  120000
3  2023-01-02   GOOG   96.0   98.0    NaN   97.5   60000
4  2023-01-03   AAPL  175.0  176.0  174.5  175.5  110000
1b. stocks2.csv (5 dòng đầu):
          date symbol   open   high    low  close  volume
0  2023-01-03   GOOG   97.0   98.5   96.5   98.0   55000
1  2023-01-04   AAPL  176.0  177.0  175.0  176.5  130000
2  2023-01-04   GOOG   98.0   99.0   97.0   98.5   65000
1c. companies.csv (5 dòng đầu):
   symbol             name  employees headquarters_city headquarters_state
0   AAPL       Apple Inc.     164000         Cupertino                 CA
1   GOOG    Alphabet Inc.     186770     Mountain View                 CA
2   MSFT  Microsoft Corp.     221000           Redmond                 WA

2. Xử lý Null trong stocks1:
Tổng số Null trước khi xử lý:
 date      0
symbol    0
open      0
high      1
low       1
close     0
volume    0
dtype: int64

Tổng số Null sau khi xử lý:
 date      0
symbol    0
open      0
high      0
low       0
close     0
volume    0
dtype: int64
stocks1 sau xử lý Null (high/low):
          date symbol   open   high    low  close  volume
0  2023-01-01   AAPL  170.0  172.5  169.0  172.0  100000
1  2023-01-01   GOOG   95.0   98.0   94.0   96.0   50000
2  2023-01-02   AAPL  172.0  174.0  171.0  173.5  120000
3  2023-01-02   GOOG   96.0   98.0   94.0   97.5   60000
4  2023-01-03   AAPL  175.0  176.0  174.5  175.5  110000

3. stocks_merged (15 dòng cuối):
          date symbol   open   high    low  close  volume
0  2023-01-01   AAPL  170.0  172.5  169.0  172.0  100000
1  2023-01-01   GOOG   95.0   98.0   94.0   96.0   50000
2  2023-01-02   AAPL  172.0  174.0  171.0  173.5  120000
3  2023-01-02   GOOG   96.0   98.0   94.0   97.5   60000
4  2023-01-03   AAPL  175.0  176.0  174.5  175.5  110000
5  2023-01-03   GOOG   97.0   98.5   96.5   98.0   55000
6  2023-01-04   AAPL  176.0  177.0  175.0  176.5  130000
7  2023-01-04   GOOG   98.0   99.0   97.0   98.5   65000

4. stocks_companies (5 dòng đầu):
          date symbol   open   high    low  close  volume           name  \
0  2023-01-01   AAPL  170.0  172.5  169.0  172.0  100000     Apple Inc.
1  2023-01-01   GOOG   95.0   98.0   94.0   96.0   50000  Alphabet Inc.
2  2023-01-02   AAPL  172.0  174.0  171.0  173.5  120000     Apple Inc.
3  2023-01-02   GOOG   96.0   98.0   94.0   97.5   60000  Alphabet Inc.
4  2023-01-03   AAPL  175.0  176.0  174.5  175.5  110000     Apple Inc.

   employees headquarters_city headquarters_state
0     164000         Cupertino                 CA
1     186770     Mountain View                 CA
2     164000         Cupertino                 CA
3     186770     Mountain View                 CA
4     164000         Cupertino                 CA

5. Trung bình giá/volume theo công ty:
           open     high      low    close    volume
symbol
AAPL    173.25  174.875  172.375  174.375  115000.0
GOOG     96.50   98.375   95.375   97.500   57500.0

6. Thống kê giá đóng cửa theo công ty:
            mean    max    min
symbol
AAPL    174.375  176.5  172.0
GOOG     97.500   98.5   96.0

7. stocks_companies sau parsed_time (5 dòng đầu):
          date parsed_time
0  2023-01-01  2023-01-01
1  2023-01-01  2023-01-01
2  2023-01-02  2023-01-02
3  2023-01-02  2023-01-02
4  2023-01-03  2023-01-03

8. Thêm cột 'result' (5 dòng đầu):
     open  close result
0  170.0  172.0     up
1   95.0   96.0     up
2  172.0  173.5     up
3   96.0   97.5     up
4  175.0  175.5     up

In [ ]:
movies_data = {
    'movieId': [1, 2, 3, 4, 5],
    'title': ['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)', 'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)'],
    'genres': ['Adventure|Animation|Children|Comedy|Fantasy', 'Adventure|Children|Fantasy', 'Comedy|Romance', 'Comedy|Drama', 'Comedy']
}
movies = pd.DataFrame(movies_data)

ratings_data = {
    'userId': [1, 1, 2, 3, 3, 4, 4],
    'movieId': [1, 2, 1, 3, 4, 1, 5],
    'rating': [4.0, 3.0, 4.5, 3.5, 4.0, 5.0, 2.0],
    'timestamp': [964988270, 964988046, 888636427, 888636287, 888636198, 888636000, 888636000]
}
ratings_data['rating'][6] = np.nan 
ratings = pd.DataFrame(ratings_data)


print("\n--- Bài 4.23 (MovieLens - Dữ liệu Mẫu) ---")
print("\n1. Đọc dữ liệu và Data Structures:")
print("Movies (5 dòng đầu):\n", movies.head())
print("Ratings (5 dòng đầu):\n", ratings.head())
print("\n2. Xử lý dữ liệu bị thiếu/ không hợp lệ:")
print("Movies Nulls:\n", movies.isnull().sum())
print("Ratings Nulls trước khi xử lý:\n", ratings.isnull().sum())
ratings.dropna(inplace=True)
print("\nKiểm tra lại Nulls sau khi xóa:\nRatings Nulls:\n", ratings.isnull().sum())
print("Ratings sau khi xóa dòng Null:\n", ratings)